@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Patrick+Hand&family=Work+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #594f43;
  background-color: #ffeed9;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1182px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

h1 {
  font-family: "Eczar", serif;
  font-size: 64px;
  line-height: 1.28;
  letter-spacing: 1.8px;
  color: #403930;
}

h2 {
  font-family: "Eczar", serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #403930;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #403930;
}

.btn {
  font-size: 24px;
  width: 275px;
  height: 85px;
  padding: 24px 33px;
  border-radius: 16px;
  text-align: center;
}

.btn_filled {
  color: #f3f2ff;
  background-color: #4e5e80;
}

.btn_empty {
  color: #4d5566;
  background-color: transparent;
  border: 4px solid #4d5566;
  padding: 20px 62px;
}

.about {
  padding: 95px 0 120px;
  background-color: #ffddbf;
}

.about .container {
  max-width: 1134px;
  position: relative;
}

.about .container img {
  position: absolute;
  right: -22px;
  bottom: -120px;
}

.about__info {
  max-width: 460px;
}

.about__title {
  margin-bottom: 10px;
}

.about__par {
  margin-bottom: 12px;
}

.about__par:last-child {
  margin-bottom: 66px;
}
