@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Patrick+Hand&family=Work+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #594f43;
  background-color: #ffeed9;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  padding: 0 20px;
}

.home {
  padding: 82px 0;
  color: #403930;
}

.home__plug {
  display: inline-block;
  font-size: 24px;
  cursor: default;
  border-radius: 10px;
  background-color: #ffddbf;
  padding: 12px 24px;
  margin-bottom: 24px;
}

.home__title {
  font-family: "Eczar", serif;
  font-size: 64px;
  line-height: 1.28;
  letter-spacing: 1.8px;
}
