@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Patrick+Hand&family=Work+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #594f43;
  background-color: #ffeed9;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 1182px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

h1 {
  font-family: "Eczar", serif;
  font-size: 64px;
  line-height: 1.28;
  letter-spacing: 1.8px;
  color: #403930;
}

h2 {
  font-family: "Eczar", serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #403930;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #403930;
}

.btn {
  font-size: 24px;
  width: 275px;
  height: 85px;
  padding: 24px 33px;
  border-radius: 16px;
  text-align: center;
}

.btn_filled {
  color: #f3f2ff;
  background-color: #4e5e80;
}

.btn_empty {
  color: #4d5566;
  background-color: transparent;
  border: 4px solid #4d5566;
  padding: 20px 62px;
}

.recent-work {
  padding: 100px 0;
  background-color: #ffddbf;
}

.recent-work__title {
  margin-bottom: 42px;
}

.recent-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff8f2;
  border-radius: 24px;
  height: 400px;
  padding: 0 41px 0 72px;
  margin-bottom: 32px;
}

.recent-work__item:last-child {
  margin-bottom: 0;
}

.recent-work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
}

.recent-work__info h3 {
  margin-bottom: 5px;
}

.recent-work__info p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 25px;
}

.recent-work__info a {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #4e5e80;
}
