@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Patrick+Hand&family=Work+Sans:wght@400;500;600;700&display=swap");

// Colors

$Primary: #403930;
$Primary2: #594f43;
$Secondary: #4e5e80;
$Secondary2: #4d5566;
$Bg1: #ffeed9;
$Bg2: #ffddbf;
$Black: #000;
$White: #fff;
$Light: #f3f2ff;

// ------------------------------------

// Common

body {
	// font-family: "Eczar", serif;
	// font-family: "Patrick Hand", cursive;
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	color: $Primary2;

	background-color: $Bg1;
}

.container {
	max-width: 1182px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	font-size: 24px;

	width: 275px;
	height: 85px;
	padding: 24px 33px;
	border-radius: 16px;

	text-align: center;

	&_filled {
		color: $Light;
		background-color: $Secondary;
	}

	&_empty {
		color: $Secondary2;
		background-color: transparent;
		border: 4px solid $Secondary2;

		padding: 20px 62px;
	}
}

// ------------------------------------
