@import "_common";

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: $Bg1;

	z-index: 100;

	nav {
		padding: 32px 0;

		.navigation {
			display: flex;
			justify-content: start;
			align-items: center;

			&__item {
				margin-right: 34px;
			}

			&__item:last-child {
				margin-right: 0;
			}
		}
	}
}
