@import "_common";

.home {
	padding: 176px 0 146px;

	color: $Primary;

	&__plug {
		display: inline-block;

		font-size: 24px;

		cursor: default;
		border-radius: 10px;
		background-color: $Bg2;

		padding: 12px 24px;
		margin-bottom: 24px;

		position: relative;

		img {
			position: absolute;

			z-index: -100;
		}
	}

	&__title {
		margin-bottom: 40px;
	}

	&__buttons {
		display: flex;
		justify-content: start;
		align-items: center;

		.btn:first-child {
			margin-right: 15px;
			padding-right: 70px;

			position: relative;
		}

		.btn:first-child::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			top: 50%;
			right: 38px;
			transform: translateY(-50%);
			background-image: url("../img/mark.svg");
		}
	}

	&__bg {
		position: absolute;
		right: 0;
		bottom: -146px;

		z-index: -100;
	}
}
